<section class="user__header flexRow">
    <h2>Tasks</h2>
    <button class="flexCol"><%- partial('svgs/list') %></button>
</section>
<section>
    <div class="pomodoro flexRow">
        <div class="flexRow">
            <button class="button--transparent"><%- partial('svgs/check-circle') %></button>
            <h3>PomoName</h3>
        </div>
        <button class="pomodoro__button--edit"><%- partial('svgs/list') %></button>
    </div>
</section>
<section class="user__button">
    <button>Add task</button>
</section>