<nav>
    <h1>Pomodoro</h1>
    <div class="nav__buttons">
        <button class="button--classic"><%- partial('svgs/settings') %></button>
        <a class="button--classic">Routines</a>
        <a class="button--classic">Log in</a>
    </div>
</nav>