<section class="container-timer">
    <div class="container-timer__container--button-switch flexRow">
        <button class="button-switch button-switch--selected">Pomodoro</button>
        <button class="button-switch">Short Break</button>
        <button class="button-switch">Long Break</button>
    </div>
    <main class="flexCol">
        <h1 class="timer" id="timer">25:00</h1>
    </main>
    <div class="flexRow">
        <button class="button-start">START</button>
    </div>
</section>
<section class="container-info flexRow">
    <div>Pomodoro Name</div>
    <div>Tot time left: X:Y</div>
</section>