<section class="container-timer">
    <div class="container-timer__container--button-switch flexRow">
        <button id="p--button" class="button-switch button-switch--selected">Pomodoro</button>
        <button id="sb--button" class="button-switch">Short Break</button>
        <button id="lb--button" class="button-switch">Long Break</button>
    </div>
    <main class="flexCol">
        <h1 class="timer" id="timer"><span id="minutes">25</span>:<span id="seconds">00</span></h1>
    </main>
    <div class="flexRow">
        <button id="start" class="button-start">START</button>
    </div>
</section>
<section class="container-info flexRow">
    <div>Pomodoro Name</div>
    <div>Tot time left: X:Y</div>
</section>
<script src="js/timer.js"></script>
<script src="js/changeStyle.js"></script>